@import '../../easings.scss';

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

input { border: 0; padding: 0; margin: 0; color: black; box-shadow: none; opacity: 1; }

.input { position: relative; font-family: Arial, Helvetica, Roboto, sans-serif; text-align: left; font-weight: 400;
  input { font-family: inherit; font-size: 18px; line-height: 24px; margin-bottom: 0; border: 1px solid #CCC; outline: none; background: transparent; position: relative; height: 42px; width: 100%; cursor: inherit; line-height: 24px; padding: 0 11px; -webkit-appearance: none; -moz-appearance: none; text-align: inherit; border-radius: 0; box-sizing: border-box; }
  &__placeholder { color: #CCC; font-family: inherit; font-size: 18px; position: absolute; top: 1px; left: 12px; right: 12px; overflow: hidden; height: 40px; line-height: 40px; pointer-events: none; }
  &__label { font-size: 14px; line-height: 18px; padding-bottom: 6px; cursor: pointer; text-align: left; white-space: normal; color: black; }

  &--focus {
    input { border-color: #1071FF; }
  }
  &--with-suggest {
    input { border-radius: 2px 2px 0 0; }
  }
  &--loading, &--search {
    input { padding-right: 48px; }
  }
  &--loading {
    .input {
      &__btn-search { animation: fade-out 0.3s $easeInQuint 0.1s forwards; }
    }
  }
  &--disabled {
    .input {
      &__label { cursor: default; }
    }
  }

  &-suggest { box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.23); border: 1px solid #CCC; border-top: 0; position: absolute; width: 100%; left: 0; box-sizing: border-box; border-top-color: #CCC; z-index: 2; background-color: white;
    &__item { font-size: 18px; line-height: 22px; padding: 6px 11px; cursor: pointer; box-sizing: border-box; position: relative;
      &--hovered { background-color: #F2F3F7; }
    }
  }
  &__btn-search { position: absolute; right: 0; width: 42px; height: 40px; background: inline('../../../shared/ico-search.svg') no-repeat; background-position: 50% 12px; top: 1px; cursor: pointer; z-index: 1; }
  &__ico-loading { position: absolute; right: 12px; margin-top: 12px; z-index: 1; animation: fade-in 0.3s $easeInQuint 0.1s forwards; opacity: 0; background-color: white; }
}
